@page
@model ToolGood.FlowVision.Pages.FlowProject.Projects.Dicts.EditModel
@{
	Layout = "~/Pages/Shared/_Layout_Edit.cshtml";
}
@section css{
	<style>
		.layui-table td, .layui-table th { padding: 3px; }
		.layui-form-item .layui-form-checkbox[lay-skin=primary] { margin-top: 5px; margin-bottom: 5px; }
	</style>
}

	<div style="overflow-x:hidden;background-color:#f3f3f4;height: 100%;">
		<form id="edit-form" style="height: 100%;">
			<input type="hidden" name="id" value="@Model.Dto.Id" />
			<input type="hidden" name="ProjectId" value="@Model.Dto.ProjectId" />
			@Html.AntiForgeryToken()
			<div class="layui-form layui-form-sm" lay-filter="form" style="padding: 20px 30px 0 0;">

				<div class="layui-form-item-sm">
					<label class="layui-form-label-sm">分类<span class="red"> *</span></label>
					<div class="layui-input-block-sm">
						<input type="text" class="layui-input layui-input-sm" id="txt_Category" name="Category" value="@Model.Dto.Category" autocomplete="off">
					</div>
				</div>
				<div class="layui-form-item-sm">
					<label class="layui-form-label-sm">名称<span class="red"> *</span></label>
					<div class="layui-input-block-sm">
						<input type="text" class="layui-input  layui-input-sm" id="txt_Name" name="Name" value="@Model.Dto.Name" autocomplete="off">
					</div>
				</div>
				<div class="layui-form-item-sm">
					<label class="layui-form-label-sm">单位</label>
					<div class="layui-input-block-sm">
						<input type="text" class="layui-input  layui-input-sm" id="txt_Unit" name="Unit" value="@Model.Dto.Unit" autocomplete="off">
					</div>
				</div>
				<div class="layui-form-item-sm">
					<label class="layui-form-label-sm">备注</label>
					<div class="layui-input-block-sm">
						<textarea class="layui-textarea  layui-textarea-sm" id="txt_Comment" name="Comment">@(Model.Dto.Comment.ToHtml())</textarea>
				</div>
			</div>

			<div class="layui-form-item-sm" style="text-align:center;padding-left: 30px;">
				<button type="button" class="layui-btn layui-btn-normal layui-btn-sm" onclick="save(this);"> &nbsp;&nbsp; 提 交 &nbsp;&nbsp; </button>
				<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="closeWindow();"> &nbsp;&nbsp; 关 闭 &nbsp;&nbsp; </button>
			</div>
		</div>
	</form>
</div>
@section js{
	<script src="/_/inputcontrol/my-keywords.js"></script>
	<script>
		function save(obj) {
			if ($("#txt_Category").val().length < 1) { layer.alert("请输入分类"); $("#txt_Category").focus(); return; }
			if ($("#txt_Name").val().length < 1) { layer.alert("请输入名称"); $("#txt_Name").focus(); return; }

			var name = $("#txt_Name").val().toLowerCase();
			if (/^[\d].*/ig.test(name)) { layer.alert("名称有误"); $("#txt_Name").focus(); return; }
			if (/[ \t\+\-\*\/\(\)\\\[\]]/ig.test(name)) { layer.alert("名称有误"); $("#txt_Name").focus(); return; }
			for (var i = 0; i < ace_keywords2.length; i++) {
				if (ace_keywords2[i]["key"].toLowerCase() == name) { layer.alert("名称有误,不能使用当前变量名"); $("#txt_Name").focus(); return; }
			}

			$(obj).prop("disabled", true);
			var url = "./Ajax/EditItem";
			var data = {
				data: $("#edit-form").serializeJson(),
				fingerprint: window.fingerprint
			}
			$.ajax({
				type: "POST",
				url: url,
				contentType: "application/json;charset=UTF-8",
				data: JSON.stringify(data),
				headers: { __RequestVerificationToken: data.data["__RequestVerificationToken"] },
				dataType: "JSON",
				success: function (data, textStatus, jqXHR) {
					if (data.state == "SUCCESS") {
						closeWindowAndReload();
					} else {
						$(obj).prop("disabled", false);
						if (data.message) {
							layer.msg(data.message);
						} else {
							layer.msg("出错了");
						}
					}
				},
				error: function (data, textStatus, errorThrown) { $(obj).prop("disabled", false); layer.msg("出错了"); }
			});


		}
	</script>
}
